.women-card {

    background-image: url("../../../public/resimler/resmi-nike-sitesi.png");

}

.men-card {

    background-image: url("../../../public/resimler/resmi-nike-sitesi (1).jpg");

}

.child-card {

    background-image: url("../../../public/resimler/resmi-nike-sitesi (1).png");

}

#card {
    background-size: cover;
    height: 550px;
    width: 500px;
    display: flex;
    justify-content: center;
    position: relative;

}

#card button{
    position: absolute;
    bottom: 30px;
    left: 40px;
    padding: 10px;
    border-radius: 30px;
    width: 90px;

}